<style type="text/css">
    #card1
    {
        width: 60px;
        height: 50px;
        position: absolute;
        top: 100px;
        left: 200px;
        background-color: #330000;
    }
    #card2
    {
        width: 60px;
        height: 50px;
        position: absolute;
        top: 100px;
        left: 300px;
        background-color: #330000;
    }
    #card3
    {
        width: 60px;
        height: 50px;
        position: absolute;
        top: 100px;
        left: 400px;
        background-color: #330000;
    }
    #card4
    {
        width: 60px;
        height: 50px;
        position: absolute;
        top: 200px;
        left: 200px;
        background-color: #330000;
    }
    #card5
    {
        width: 60px;
        height: 50px;
        position: absolute;
        top: 200px;
        left: 300px;
        background-color: #330000;
    }
    #card6
    {
        width: 60px;
        height: 50px;
        position: absolute;
        top: 200px;
        left: 400px;
        background-color: #330000;
    }

</style>

<div id="card1">
    <p style="color:white;" ></p>
</div>
<div id="card2">
    <p style="color:white;" ></p>
</div>
<div id="card3">
    <p style="color:white;" ></p>
</div>
<div id="card4">
    <p style="color:white;" ></p>
</div>
<div id="card5">
    <p style="color:white;" ></p>
</div>
<div id="card6">
    <p style="color:white;" ></p>
</div>

<!-- Original Card game script 
<script>
    $(document).ready(function() 
    {
        $('#card1').click(function(e) 
        {  
          $('#card1').css("background-image", "url(/images/jerry.gif)"); 
        });
         $('#card2').click(function(e) 
        {  
          $('#card2').css("background-image", "url(/images/pikachu.png)"); 
        });
         $('#card3').click(function(e) 
        {  
          $('#card3').css("background-image", "url(/images/jerry.gif)"); 
        });
    
    });
</script>
Original ends here-->