<p style="color:white;" class="Descr">Because of your greed you are now facing a dragon named Smaug</p>

<p style="color:white;" class="Descr">Defend Yourself</p>

<!--
<form action="/movement" method="POST">
    <label>Defend Yourself</label>
    <input type ="text" name="movement">
    <input type ="submit">
  
    <form action="/throwgold" method="POST">
        <button>Throw 5 Gold Coins!!! </button>
    </form>
    -->
    <form>
        <button>Throw 5 Gold Coins!!! </button>
    </form>
    
    <form>
        <button>Throw 10 Gold Coins!!! </button>
    </form>
    
</form>