<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script src="scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
<link rel=stylesheet href="/css/jn1.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Unhinged</title>
</head>

<body>

<!--Game scenarios-->
<center><div id="wingame">
<p>Helen escaped with her life! Congratulations!</p>
<p class="link"><a href="index.html">Play again</a>
</div></center>

<center><div id="losegame" style="display:none;">
<p>Helen was never heard from again...</p>
<p class="link"><a href="index.html">Play again</a>
</div></center>

<center><div id="gluttonous" style="display:none;">
<p>You were too greedy and have been imprisoned by the village elders.</p>
<p class="link"><a href="index.html">Play again</a>
</div></center>

<!-- Displays compass on screen-->
<div id="container">
<div id="compass"><img src="images/compass.png" /></div>

<div id="console">


<!--Main Story-->
<p id="message_begin">Welcome to Unhinged. At any time you may press the button on the bottom left for the menu, or type "help" for a list of commands that you may use.</p>

<p id="message_help">Help: (replace the italicized words to utilize the commands)<br />
take <i>object</i>: takes the specified object and puts it in your inventory<br />
eat <i>food</i>: eats indicated food item<br />
battle <i>enemy</i> with <i>object</i>: fights indicated enemy with specified object<br />
inventory: lists everything you are currently carrying<br />
unlock <i>door</i> with <i>object</i>: unlocks door with the object you specify<br />
go <i>direction</i>: attempts to travel in direction (north, east, south, west)<br />
search <i>object</i>: searches the indicated object for items</p>

<!--Utilizing challenges based on mobile team-->
<!--Story Begins-->
<p id="area_start">You find yourself inside of a dark and chilly room. You have no idea how you got here. Directly in front of you is an exit to the room. You consider searching around the room to see if theres anything useful. You notice a shield lying there.</p>

<p id="area_castle">You have entered the castle. To the west and to the east are long dark hallways. To the south is the  room from where you came. The only source of light is a torch hanging on the wall. Beneath the torch lies a mysterious note. Perhaps it was left by your captors.</p>

<p id="area_village">You have entered a village that seems to be a place of great anguish. Strange and grotesque looking inhabitants roam the streets. There's a slingshot lying in the grass. After a quick observation, you notice that the village appears fairly large, and a hut sits in the corner. To the south there is a wasteland of sand. To the west is the castle that you came from.</p>
<!--Allows content to be added before this-->
<div id="placeholder"></div>

</div>

<!--Creates a Input Bar-->
<!--We ned to check with JJ to see if this is viable for the game vs on screen button-->
<form onsubmit="return false;">
<center><input type="text" id="command_line" size="50" autofocus="autofocus" /></center>
</form>
</div>

<p class="copyright"></p>

<p class="copyright"></p>

<!-- jgame.js will contain the classes needed for the scripts-->
<script type="text/javascript" src="scripts/jgame.js"></script>

</body>

</html>
