
<div class="description"  style="background-image: url(../images/dark.jpg); height: 200px; width: 400px; border: 1px solid black;">

  <img src="/images/uh.png" alt="Unhinged" style="width:150px;height:75px;">
  <!--<h1>Unhinged</h1>-->
  <!--<p style="color:white;"><%=@story%></p>
  <p style="color:white;"><%=@followup%></p>
  <form action="/console" method="POST">
    <input type='text' name="command">
    <input type="submit">
    
  </form>
  -->
  <form action="/console" method="POST">
    <input type = 'radio' name="command" value=1 checked> 
      <p style="color:white;"><%=@option1%></p><br>
    <input type = 'radio' name="command" value=2 checked> 
      <p style="color:white;"><%=@option2%></p><br>
    <input type="submit">
    
  </form>
       
    
</div>