
<div class="description"  style="background-image: url(../images/dark.jpg); height: 200px; width: 400px; border: 1px solid black;">

  <p style=color:white;><%= @story%></p>
  <img src="/images/uh.jpg" alt="Unhinged" style="width:150px;height:75px;">
  <!--<h1>Unhinged</h1>-->
  <p><%=@story%></p>
  <p><%=@followup%></p>
  <form action="/console" method="POST">
    <input type='text' name="command">
    <input type="submit">
    
  </form>
    
    
</div>