
<div class="description"  style="background-image: url(../images/dark.jpg); height: 200px; width: 400px; border: 1px solid black;">

  <img src="/images/uh.png" alt="Unhinged" style="width:150px;height:75px;">

  <form action="/console" method="POST">
     <p style="color:white;"><%=@story%></p><br>
    <input type = 'radio' name="command" value=1 checked style="display: inline">  
      <p style="color:white; display: inline"><%=@option1%></p><br>
    <input type = 'radio' name="command" value=2 checked> 
      <p style="color:white; display: inline"><%=@option2%></p><br>
    <input type="submit">
  </form>
       
    
</div>