<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="/scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
        <link rel=stylesheet href="/css/jn1.css" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Unhinged</title>
        <style>.Descr{color:white;}</style>
    </head>
    
    <style type="text/css">
        .bgimg 
        {
            background-image: url('/images/dark.jpg');
        }
    
        body {
        margin:0;
        padding:0;
        color:#000;
        background:#fff;
        }
        #body {
            width:960px;
            margin:0 auto;
            background:#ddd;
        }
        #header {
            background:#fff;
        }
        #content-1 {
            
        }
        #content-2-1 {
           
        }
        #content-2-2 {
            
        }
        #footer {
            
        }
        #header {
        padding:10px;
       
        }
        #content-1 {
        float:left;
        width:240px;
        }
        #content-2 {
            float:right;
            width:720px;
        }
        #content-1 {
            float:left;
            width:220px;
            padding:10px;
            
        }
        #content-2-1 {
            float:left;
            width:460px;
            padding:10px;
        }
        #content-2-2 {
            float:right;
            width:220px;
            padding:10px;
            
        }
        #footer {
            clear:both;
            padding:10px;
            background:#fff;
        }
    </style>
    
    <body class="bgimg">
            <div id="header"></div>
            <div id="main">
                <div id="content-1">
                    <p style="color:white;" class="Descr">Inventory: <%=@@inventory%></p>
                </div>
                <div id="content-2">
                    <div id="content-2-1">
                        <p style="color:white;" class="Descr">Health: <%=@@health%></p>
                    </div>
                        
                    <div id="content-2-2">
                        <p style="color:white;" class="Descr">Gold coins: <%=@@goldcount%></p>
                    </div>
                </div>
            </div>
            <div id="footer"></div>
        
    <%= yield %> 
    
    </body>

</html>
