<!-- enter form -->
<p style="color:white;" >You have started a fire</p>

<p style="color:white;" >Light flickers, brightening the cave</p>
<p style="color:white;" >100 Gold coins are scattered on the floor of the cave, how many do you take?</p>

<!--
<form action="/processgold" method="POST">
    <label>Gold Count</label>
    <input type ="text" name="goldcount">
    <input type ="submit">
</form>
-->
<form action="/processgold" method="POST">
    <b><label style="color:white;">Gold Count:</label></b>
    <div id="slider">
        <input class="bar" type ="range" name="goldcount" value= "50" id="rangeinput" min="0" max"100" onchange="rangevalue.value=value"/>
            <span class="highlight"></span>
            <output id="rangevalue">50</output>
        </div>
    <input type ="submit">
</form>

</body>