<p style="color:white;" class="Descr">Because of you are a sloth you are now facing a thief</p>

<p style="color:white;" class="Descr">Defend Yourself</p>

<form action="/thieffight" method="POST">
    <input type = 'radio' name="command" value="attack" checked style="display: inline">  
      <p style="color:white; display: inline">Attack!</p><br>
    <input type = 'radio' name="command" value="plead" checked> 
      <p style="color:white; display: inline">Plead for mercy</p><br>
    <input type="submit">
</form>
