/* 
CSS Document 
=====
Initial CSS This will just be a test phase.
=====
Once presented to team, changes can be made as necessary based off of Lead Design JJ Lindsay
*/

/*Specifies the Console font and provides url where it can be found*/
@font-face {
        font-family: "Console";
        src: url("fonts/CPmono.ttf") format("truetype");
}

/*Sets background color*/
body {
	background-color: black;	
}

/*Sets copyright color to gray and assigns font size*/
.copyright {
	color: #333333;
	font-size: 12px;
}

/*Positions Compass on left section screen*/
#compass {
	position: absolute;
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -650px;
	display: none;
}

/*specifies container*/
#container {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -400px;
}

/*Positions the terminal and applies a background for form*/
#console {
	background-color:black; 
	height: 400px; 
	width: 800px; 
	margin: 0 auto;
	overflow: auto;
	color: white;
}

#console p {
	color: white;
	display: none;
	font-size: 17px;
	font-family: "Times New Roman", Times, serif;
}

/*Victory Conditionals*/
#wingame {
	display: none;
	height: 500px;
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -250px;
}

#wingame p {
	font-size: 30px;
	padding-top: 175px;
	color: white;
}

#wingame p.link {
	font-size: 15px;
	padding-top: 0px;
}

#wingame a {
	color: white;
}

#wingame a:hover {
	color: red;
}

/*Lose game conditionals*/
#losegame {
	display: none;
	height: 500px;
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -250px;
}

#losegame p {
	font-size: 30px;
	padding-top: 175px;
	color: white;
}

#losegame p.link {
	font-size: 15px;
	padding-top: 0px;
}

#losegame a {
	color: white;
}

#losegame a:hover {
	color: red;
}

#command_line {
	display: none;
}

/*Applies color scheme to form fields */
input {
	background-color: black;
	color: white;
	border: 1px solid #333;
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
}

input:focus {
	outline: none;
}